body{
  font-family: Arial;
  margin:0;
}

header{
  background:#ff4d4d;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
}

.hero{
  text-align:center;
  padding:50px;
  background:#ffe6e6;
}

.menu{
  padding:30px;
  text-align:center;
}

.food-items{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.item{
  border:1px solid #ddd;
  padding:20px;
  width:200px;
  border-radius:10px;
}

button{
  background:#ff4d4d;
  color:white;
  border:none;
  padding:8px 15px;
  cursor:pointer;
  border-radius:5px;
}

button:hover{
  background:#cc0000;
}

.cart{
  padding:30px;
  background:#f2f2f2;
}

/* Responsive */
@media(max-width:600px){
  .food-items{
    flex-direction:column;
    align-items:center;
  }
}

.item img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:10px;
}